<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home:Home'%}">Home</a>
         <a class="nav-link active" aria-current="page" href="{% url 'account:register'%}">Register</a>
         <a class="nav-link active" aria-current="page" href="{% url 'account:login'%}">Login</a>
                   <a class="nav-link active" aria-current="page" href="{% url 'account:logout'%}">Logut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
